<div class="left-side-menu">
    <div class="h-100" data-simplebar>
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul id="side-menu">

                <li >
                    <router-link class="nav-link" :to="{name: 'dashboard'}">
                        <!-- <font-awesome-icon :icon="['fas', 'envelope']" /> -->
                        <i class="fas fa-th-large"></i>
                        <span> Dashboard</span>
                        <!-- <span class="menu-arrow"></span> -->
                    </router-link>
                </li>

                <li>
                    <router-link class="nav-link" :to="{name: 'invitation'}">
                        <i class="fas fa-envelope"></i>
                        <span> Invitation </span>
                        <!-- <span class="menu-arrow"></span> -->
                    </router-link>
                </li>

                <li>
                    <router-link class="nav-link" :to="{name: 'attendance'}">
                        <i class="fas fa-clipboard-check"></i>
                        <span> Attendance </span>
                        <!-- <span class="menu-arrow"></span> -->
                    </router-link>
                </li>

                <li>
                    <router-link class="nav-link" :to="{name: 'mom'}">
                        <i class="fas fa-file"></i>
                        <span> MOM </span>
                        <!-- <span class="menu-arrow"></span> -->
                    </router-link>
                </li>

                <li>
                    <router-link class="nav-link" :to="{name: 'meetingMinute'}">
                        <i class="fas fa-calendar"></i>
                        <span> Meeting Minute </span>
                        <!-- <span class="menu-arrow"></span> -->
                    </router-link>
                </li>

                <li>
                    <router-link class="nav-link" :to="{name: 'meetingNote'}">
                        <i class="fas fa-book"></i>
                        <span> Meeting Note </span>
                        <!-- <span class="menu-arrow"></span> -->
                    </router-link>
                </li>

                <li>
                    <router-link class="nav-link" :to="{name: 'meetingRoom'}">
                        <i class="fas fa-person-booth"></i>
                        <span> Meeting Room </span>
                        <!-- <span class="menu-arrow"></span> -->
                    </router-link>
                </li>

                <li>
                    <router-link class="nav-link" :to="{name: 'project'}">
                        <i class="fas fa-clipboard-list"></i>
                        <span> Project </span>
                        <!-- <span class="menu-arrow"></span> -->
                    </router-link>
                </li>

                <li>
                    <router-link class="nav-link" :to="{name: 'report'}">
                        <i class="fas fa-clipboard-list"></i>
                        <span> Report </span>
                        <!-- <span class="menu-arrow"></span> -->
                    </router-link>
                </li>

                <li class="menu-title mt-2">Administration</li>
                <li>
                    <a href="#sidebarUsers" data-bs-toggle="collapse">
                        <i class="fas fa-user"></i>
                        <span> User Management </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarUsers">
                        <ul class="nav-second-level">
                            <li>
                                <router-link class="nav-link" :to="{name: 'users'}">
                                    <span> Users </span>
                                </router-link>
                                <router-link class="nav-link" :to="{name: 'roles'}">
                                    <span> Roles </span>
                                </router-link>
                                <router-link class="nav-link" :to="{name: 'permissions'}">
                                    <span> Permissions </span>
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="menu-title mt-2">Notification Management</li>
                <li>
                    <a href="#sidebarrequest" data-bs-toggle="collapse">
                        <i class="fas fa-comment-alt"></i>
                        <span> Requests </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarrequest">
                        <ul class="nav-second-level">
                            <li>
                                <router-link class="nav-link" :to="{name: 'sent'}">
                                    <span> Sent </span>
                                </router-link>
                            </li>
                            <li>
                                <router-link class="nav-link" :to="{name: 'request'}">
                                    <span> Request </span>
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <router-link class="nav-link" :to="{name: 'setting'}">
                        <i class="fas fa-wrench"></i>
                        <span> Setting </span>
                        <!-- <span class="menu-arrow"></span> -->
                    </router-link>
                </li>
            </ul>
        </div>
        <!-- End Sidebar -->

    </div>
    <!-- Sidebar -left -->

</div>